<div class="card border-success mb-3">
    <div class="card-header border-success">
        <h4>Student List</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students; let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{student['name']}}</td>
                    <td>{{student['gender']}}</td>
                    <td>{{student['address']}}</td>
                    <td>{{student['phone']}}</td>
                    <td>{{student['email']}}</td>
                    <td>{{student['isActive']}}</td>
                    <td>
                        <button (click)="toggleActiveStatus(student)" [class.btn-success]="student['isActive'] == 0" [class.btn-danger]="student['isActive'] == 1" class="btn btn-sm">{{student['isActive'] == 0
                            ? 'Activate' : 'Deactive'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>