<div class="card">
    <div class="card-header">
        <h4>{{details ? 'Update' : 'Add'}} DiplomaInfo</h4>
    </div>
    <div class="card-body">
        <div class="form">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Course Name</label>
                        <input [(ngModel)]="Course" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">University</label>
                        <input [(ngModel)]="university" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="">Aggregate</label>
                    <input [(ngModel)]="Aggregate" type="number" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="">YOP</label>
                    <input [(ngModel)]="YOP" type="number" class="form-control">
                </div>
            </div>


            <div class="form-group">
                <button (click)="onUpdate()" class="btn btn-success">{{details ? 'Update' : 'Add'}}</button>
            </div>


        </div>
    </div>
</div>