<p>
    students works!</p>
<p>student-component works!</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Student Panel</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="/studentProfile" class="nav-link">studentProfile</a></li>
            <li class="nav-item"><a routerLink="/contact-us" class="nav-link">Contact Us</a></li>
            <li class="nav-item"><a routerLink="/campus-drive" class="nav-link">Campus Drive</a></li>
            <li class="nav-item"><a routerLink="/student" class="nav-link">Student</a></li>
            <li class="nav-item"><a routerLink="/company" class="nav-link">Company</a></li>
        </ul>
    </div>

</nav>

<div class="container" style="margin-top: 20px;">
    <router-outlet></router-outlet>
</div>